// This file need to be saved as UTF-16
// In utf-8, it will lead to a gibberish

#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_ICON1		ICON		DISCARDABLE	"Mill.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 6.4.0.0
 PRODUCTVERSION 6.4.0.0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Calcitem"
            VALUE "FileDescription", "Mill Pro"
            VALUE "FileVersion", "6.4.0.0"
            VALUE "InternalName", "Sanmill Pro"
            VALUE "LegalCopyright", "(C) 2019-2025 Calcitem Studio and Sanmill Developers"
            VALUE "OriginalFilename", "mill-pro.exe"
            VALUE "ProductName", "Mill Pro"
            VALUE "ProductVersion", "6.4.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
