name: sanmill
description: Sanmill is a open-source, powerful UCI-like Nine Men's Morris (and its variants) program.
publish_to: none
version: 3.3.0+3341

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  animated_text_kit: 4.1.1
  catcher:
    git:
      url: https://gitlab.com/calcitem/catcher.git
  collection: ^1.16.0
  copy_with_extension: ^4.0.4
  cupertino_icons: ^1.0.5
  device_info_plus: ^7.0.1
  extended_sliver: ^2.1.3
  feedback: ^2.5.0
  filesystem_picker: ^3.1.0
  fluentui_system_icons: 1.1.189
  flutter:
    sdk: flutter
  flutter_colorpicker: ^1.0.3
  flutter_email_sender: ^5.2.0
  flutter_localizations:
    sdk: flutter
  flutter_platform_alert: ^0.3.0
  flutter_picker: ^2.0.5
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  image: ^3.0.2
  intl: ^0.17.0
  json_annotation: ^4.7.0
  logger: ^1.1.0
  marquee: ^2.2.3
  package_info_plus: ^3.0.2
  path_provider: ^2.0.11
  share_plus: ^6.3.0
  sliver_tools: ^0.2.8
  soundpool: ^2.3.0
  soundpool_windux:
    git:
      url: https://gitlab.com/calcitem/soundpool.git
      ref: windows_linux_support
      path: soundpool_windux
  url_launcher: ^6.1.7
  uuid: ^3.0.7

dev_dependencies:
  build_runner: ^2.3.0
  copy_with_extension_gen: ^4.0.4
  flutter_driver:
    sdk: flutter
  flutter_gen_runner: ^5.0.3
  flutter_native_splash: ^2.2.16
  flutter_test:
    sdk: flutter
  hive_generator: ^1.1.3
  json_serializable: ^6.5.4
  flutter_lints: ^2.0.1
  mockito: any
  msix: ^3.7.0
  source_gen: ^1.2.6
  test: any

flutter_gen:
  output: lib/generated/assets/

flutter:
  generate: false
  uses-material-design: true
  assets:
    - assets/files/git-branch.txt
    - assets/files/git-revision.txt
    - assets/licenses/GPL-3.0.txt
    - assets/audios/draw.mp3
    - assets/audios/fly.mp3
    - assets/audios/go.mp3
    - assets/audios/illegal.mp3
    - assets/audios/lose.mp3
    - assets/audios/mill.mp3
    - assets/audios/place.mp3
    - assets/audios/remove.mp3
    - assets/audios/select.mp3
    - assets/audios/win.mp3

flutter_intl:
  enabled: true

msix_config:
  display_name: Mill (N Men's Morris)
  publisher_display_name: Calcitem Studio
  identity_name: 25314CalcitemStudio.Sanmill
  publisher: CN=3413C020-B420-4E0A-8687-A2C35E878F3A
  logo_path: ..\..\..\fastlane\metadata\android\en-US\images\icon.png
  capabilities: ""
  languages: en-us, zh-cn
  execution_alias: mill
  store: true
