name: sanmill
description: Sanmill is a open-source, powerful UCI-like Nine Men's Morris (and its variants) program.

version: 1.1.39+2206

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.4
  soundpool: ^2.2.0
  path_provider: ^2.0.8
  package_info_plus: ^1.3.0
  uuid: ^3.0.5
  url_launcher: ^6.0.17
  intl: 0.17.0
  catcher: ^0.6.9
  stack_trace: ^1.10.0

  devicelocale: ^0.5.0
  double_back_to_close_app: ^2.1.0
  flutter_picker: ^2.0.2
  flutter_email_sender: ^5.0.2
  feedback:
    git:
      url: git://github.com/calcitem/feedback.git
  animated_text_kit: ^4.1.1
  flutter_colorpicker: ^0.6.0
  device_info_plus_platform_interface: ^2.3.0
  fluentui_system_icons: ^1.1.153
  #pref: ^2.3.0
  #screen_recorder: ^0.0.2

dev_dependencies:
  flutter_oss_licenses: ^1.1.1
  flutter_test:
    sdk: flutter
  msix: ^2.8.0

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/licenses/GPL-3.0.txt
    - assets/files/environment_variables.txt
    - assets/audios/draw.mp3
    - assets/audios/fly.mp3
    - assets/audios/go.mp3
    - assets/audios/illegal.mp3
    - assets/audios/lose.mp3
    - assets/audios/mill.mp3
    - assets/audios/place.mp3
    - assets/audios/remove.mp3
    - assets/audios/select.mp3
    - assets/audios/win.mp3

flutter_intl:
  enabled: true

msix_config:
  display_name: Sanmill
  publisher_display_name: Calcitem Studio
  identity_name: 25314CalcitemStudio.Sanmill
  publisher: CN=3413C020-B420-4E0A-8687-A2C35E878F3A
  capabilities: ''
  store: true
