*.h
*.c
*.cpp
*.py
*.swift
*.go
*.m
*.sh
*.pl
!ensure_flutter.sh
!ensure_frb_codegen.sh
!generate_frb.sh
!run_head_to_head.sh
!search-commit-message.py
!check_perf_baseline.py
!check_search_perf_baseline.py
!record_rust_perf_baseline.py
!dump_rust_sources.py
!dump_master_cxx_sources.py
!uci_probe.py
!compare_engine_perf.py
!convert_mill_fen_ids.py
