[Desktop Entry]
Version=3.5.3
Encoding=UTF-8
Name=Mill
Comment=A Mill Game which supports many rule variants.
Exec=mill
Terminal=false
Type=Application
Categories=Game;BoardGame;
Icon=${SNAP}/meta/gui/mill.png
